<div class="container">
    <form name="signupForm"
            novalidate>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" 
                    ng-model="signupCtrl.user.firstName" class="form-control"
                    placeholder="Enter first name"
                    required>
            <span ng-show="signupForm.firstName.$invalid && signupForm.firstName.$touched">
                First name is required
            </span>

        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" 
                    ng-model="signupCtrl.user.lastName" class="form-control"
            placeholder="Enter last name" required>
             <span ng-if="signupForm.lastName.$invalid && signupForm.lastName.$touched">
            Last name is required
            </span>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" 
                    ng-model="signupCtrl.user.email" class="form-control"
                    placeholder="Enter email" required >
            <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
            </span>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" 
                    ng-model="signupCtrl.user.phoneNumber" class="form-control"
                    placeholder="Phone ###-###-####"
                    pattern="(\d{3})-(\d{3})-(\d{4})" 
            >
            <span ng-if="signupForm.phoneNumber.$invalid && signupForm.phoneNumber.$touched">Phone must be in the format ###-###-####.
            </span>
        </div>
        <div class="form-group">
            <label for="dishId">Favourite Dish Number</label>
            <input type="text" name="dishId" 
                    ng-model="signupCtrl.user.dishId" class="form-control"
                    placeholder="Enter favourite dish number"
                    ng-class="{'invalid-dish': signupCtrl.dishIdError }"
                    required
            >
            <span ng-show="signupForm.dishId.$invalid && signupForm.dishId.$touched"
            >Favourite dish number required</span>
            <span ng-if="signupCtrl.dishIdError" 
            class="invalid-dish">{{signupCtrl.dishIdError}}</span>
        </div>
         <button type="submit" class="btn btn-primary" 
         ng-disabled="signupForm.$invalid" ng-click="signupCtrl.submit();">Subscribe</button>
         <br>
         <span ng-if="signupCtrl.savedDisIdMessage">{{signupCtrl.savedDisIdMessage}}</span>
    </form>
</div>