<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
<body ng-app="lunchChecker">
   <div class="container" ng-controller="LunchCheckerController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="list">
             <br>
             <span ng-show="checkListLength===0">Please enter data first</span>
             <span ng-show="checkListLength>3" class="form-group message">{{message}}</span>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="ckeckList()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-show="list &&checkListLength<4">
            {{message}}
           <!-- Your message can go here. -->
            
         </div>
   </div>

</body>
</html>
